/* Основные теги */
html{
    overflow-x:hidden;
}
body {
    left: 0;
    margin: 0;
    overflow: auto;
    position: relative;

}
h1 {
     margin:auto;
     font-size: 30px;
     font-weight: 100;
     letter-spacing: 3px;
     color: #555;
     display: inline-block;
}
a{
      text-decoration: none;
      max-width: 150px;
      opacity: 0.9;
  }
a:hover{
    opacity: 1;
}


ul {
    width: 100%;
    list-style: none;

}
.nav{
    list-style: none;
    display: block;
    float: left;
    height: 37px;
    font-weight: bold;
    color: #ffffff;
    padding: 5px 35px;
    text-transform: uppercase;
}
.navbar{
    white-space: nowrap;
    word-wrap: normal;
    display: inline;
}

/* Меню */
.menu {
    background: #202024 url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;
    left: -285px;
    height: 100%;
    position: fixed;
    width: 285px;
}

.jumbotron {
    background-image: url('../img/color_bg.jpg');
    position:relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top:0;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.menu ul {
    border-top: 1px solid #636366;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    border-bottom: 1px solid #636366;
    font-family: 'Open Sans', sans-serif;
    line-height: 45px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 3px;
}

.menu a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.icon-close {
    cursor: pointer;
    padding-left: 10px;
    padding-top: 10px;
}

.icon-menu {
    color: #fff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-top: 25px;
    text-decoration: none;
    text-transform: uppercase;

}

.icon-menu i {
    margin-right: 5px;
}

.auto {
    margin-top: 4%;
}
.container {

}

/*Другие*/
.title {
    position: fixed;
    width:100%;
    background-image: url('../img/color_bg.jpg');
    background-size: cover;
}
.circle {
    border-color: #555;
    border-radius: 100%;
    border-style: solid;
    min-height: 150px;
    width: 150px;
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    background-image: url('../img/color_bg.jpg');
    color: #ffffff;
    opacity: 0.8;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
.circle1 {
    border-color: #555;
    border-radius: 100%;
    border-style: solid;
    min-height: 150px;
    width: 150px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url('../img/color_bg.jpg');
    color: #ffffff;
    opacity: 0.8;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
.circle:hover,.circle1:hover{
    opacity: 1;
}

.grid-2{
    padding-left: 10%;
    padding-top: 5%;
    width: 100%;
    font-size: 27px;
}
.grid-5{
    padding-top: 1%;
    font-size: 22px;
    width: 100%;
    margin-bottom: 7% ;

}
.first{
    background-position: 28% 70%;
    margin-right: 50%;
}
.second{
    position: relative;
    left: 60%;
    top: -206px;
    background-position: 72% 100%;

}
.top3{
    margin-left: 12%;
    margin-right: 12%;
}
.top2{
    margin-left: 28%;
    margin-right: 28%;
}
.grid-5 td{
    padding-left: 12%;
}
.bg3{
    background-position: 75% 1%;
}
.bg1{
    background-position: 20% 1%;
}
.bg2{
    background-position: 50% 1%;
}
.bg4{
    background-position: 30% 60%;
}
.bg5{
    background-position: 60% 60%;
}
footer{
    background: url('../img/color_bg.jpg') 50% 60%;
    min-height: 70px;
    box-shadow: 0 1px 15px rgba(0,0,0,0.5);
    bottom: 0;
    position: absolute;
    width: 100%;

}
.main{
   /* padding-bottom: 70px;*/
}

body{
    background-color: #FFFACD ;

}
.text{
    margin-left:7%;
    margin-right:7% ;
    font-size: 20px;
}
p{
    text-indent: 3%;
}
body{
    font-family: "Comic Sans MS", cursive;
}

table, th, td {
    border: 1px solid grey;
    background-color: aliceblue;
    border-collapse: collapse;
    box-shadow: 7px 10px 50px 0px rgba(71,67,71,0.52);
}
.cir{
    display: inline-block;
}
#main_img{
    display: inline-block;
}
html { overflow-x: hidden; }
body {
    overflow-x: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
#footer{
    color:#ffffff;
}

.upbutton {
    user-select: none;
    color: #ffffff;
    background-color: gainsboro;
    outline: none;
    opacity: 0.6;
    position: fixed;
    left: 3%;
    bottom: 70px;
    height: 100px;
    width:100px;
    border: 3px inset ivory;
    border-radius: 1% 100% 100%;
    -webkit-box-shadow: 10px 15px 123px 6px rgba(171,171,171,1);
    -moz-box-shadow: 10px 15px 123px 6px rgba(171,171,171,1);
    box-shadow: 10px 15px 123px 6px rgba(171,171,171,1);
    cursor: pointer;
    display: block;
    visibility: hidden;
}
.upbutton:hover{
    opacity: 1;
}
.upbutton:active{
    background-color: cornflowerblue;
}
.portrait{
    max-height: 250px;
    max-width: 250px;
}